body {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/336f2491293221.5e2e8cbbe06f7.jpg);
  background-size: cover;
}

p {
  color: white;
  font-size: 18px;

}

h1 {
  color: white;
}

h3 {
  color: white;
}
